input.box{
	margin-left: : 10px;
}

.formdiv{
	width: 40%;
	margin:auto;
	border: solid;
	padding: 10px;
}

#box1{
	display: inline-block;
	width: 47%;
	float: left;
}

#box2{
	display: inline-block;
	width: 47%;
	float: right;
}

#Submit{
	float:right;
}

section a{
	background-color: 
}